<!-- Item 1 -->
<div class="row">
    <div class="row">
      <div class="col-sm-2 my-auto">
        <div class="row my-3">
          <button class="btn btn-primary"> Remove from cart </button>
        </div>
      </div>
      <div class="col-10">
        <div class="card m-2">
          <div class="card-body">
            <div class="row">
              <div class="col-2">
                <div style="height: 190px; width: 140px; background-color: red;"></div>
              </div>
              <div class="col-sm-10 my-auto">
                <div class="row">
                  <div class="col-10">
                    <h4><%= products[0].productname %></h4>
                    <h6><%= products[0].publishername %></h6>
                  </div>
                  <div class="col-2">
                    <h4><%= products[0].productprice %></h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>