<!--Top Banner-->
    <div class="row" style="background-color: #d64d4d;">

      <div class="col-10" style="margin-top: 5px;">
        <p style="color: white;">
          <a href="/">
            <img src="../../images/logo.png" style="height: 30px;">
          </a>
          The Largest RPG Download Store!
        </p>
      </div>

      <div class="col-2">
        <% if (locals.user) { %>
        <a href="/account/account">
          <button class="login">Account</button>
        </a>

        <a href="/account/library">
          <button class="login">Library</button>
        </a>

        <a href="/logout">
          <button class="login">Log Out</button>
        </a>
        <% } else { %>
        <a href="/account/account">
          <button class="login">Log in</button>
        </a>
        <% } %>
      </div>
    </div>