<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="..\..\stylesheets\promotions.css">
  <script src="..\..\scripts\promotions.js"></script>

  <link rel="stylesheet" href="..\..\stylesheets\index.css">
  <script src="..\..\scripts\index.js"></script>

  <title>Promotions</title>
</head>

<body style="background-color: black;">
  <div class="container-fluid">
    <!--Top Banner-->
    <div class="row" style="background-color: #d64d4d;">

      <div class="col-10" style="margin-top: 5px;">
        <p style="color: white;">
          <a href="/">
            <img src="../../images/logo.png" style="height: 30px;">
          </a>
          The Largest RPG Download Store!
        </p>
      </div>

      <div class="col-2">
        <a href="../account/account.ejs">
          <button class="login">Account</button>
        </a>

        <a href="../account/library.ejs">
          <button class="login">Library</button>
        </a>

        <button class="login">Log in</button>
      </div>
    </div>

    <!--Search Banner-->
    <div class="row my-2">
      <div class="col-10">
        <input class="search-bar w-100 h-100" placeholder="Search...">
      </div>
      <div class="col-1">
        <button class="w-100">Search</button>
      </div>
      <div class="col-1">
        <button class="w-100">
          <a href="cart.ejs" style="text-decoration: none; color: white;">Cart</a>
      </div>
      </button>
    </div>

    <!-- breadcrumbs -->
    <div class="row">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li style="color: white;" class="breadcrumb-item"><a href="#">Home</a></li>
          <li style="color: white;" class="breadcrumb-item"><a href="#">Library</a></li>
          <li style="color: white;" class="breadcrumb-item active" aria-current="page">Data</li>
        </ol>
      </nav>
    </div>

    <!-- title and description -->
    <div class="row">
      <div class="col-4"></div>
      <div class="col">
        <div class="row text-center">
          <h3 style="color: white;">Promotion Title</h3>
        </div>
        <div class="row text-center">
          <p style="color: white;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam adipisci excepturi eaque exercitationem porro unde quasi optio recusandae nisi animi. Delectus optio in vel eveniet suscipit laboriosam quasi aliquam doloremque?</p>
        </div>
      </div>
      <div class="col-4"></div>
    </div>

    <!-- products -->
    <div class="row my-4">
      <div class="col-3"></div>
      <div class="col-2 d-flex justify-content-center">
        <a href="product.ejs">
          <div style="height: 250px; width: 200px; background-color: red;"></div>
        </a>
      </div>
      <div class="col-2 d-flex justify-content-center">
        <a href="product.ejs">
          <div style="height: 250px; width: 200px; background-color: red;"></div>
        </a>
      </div>
      <div class="col-2 d-flex justify-content-center">
        <a href="product.ejs">
          <div style="height: 250px; width: 200px; background-color: red;"></div>
        </a>
      </div>
      <div class="col-3"></div>
    </div>


    <footer class="bg-body-tertiary text-center text-lg-start">
      <!-- Grid container -->
      <div class="container p-4">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase">Footer text</h5>

            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
              molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
              voluptatem veniam, est atque cumque eum delectus sint!
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase">Footer text</h5>

            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
              molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
              voluptatem veniam, est atque cumque eum delectus sint!
            </p>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Grid container -->

      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2020 Copyright
        <a href="/">
          <img src="../../images/logo.png" style="height: 30px;">
        </a>
      </div>
      <!-- Copyright -->
    </footer>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</body>

</html>