<!--Search Banner-->
<div class="row my-2">
    <div class="col-10">
        <input class="search-bar w-100 h-100" placeholder="Search...">
    </div>
    <div class="col-1">
        <button class="w-100">Search</button>
    </div>
    <div class="col-1">
        <a href="/cart" style="text-decoration: none; color: white;">
            <button class="w-100">
                Cart
            </button>
        </a>
    </div>
</div>